@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

.switch-pane {
    -fx-background-color: #212229;
}

.search {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-background-color: #2F303B;
}

.chatListView .list-view {
    -fx-padding: 0;
}

.chatListView .scroll-bar {
    -fx-background-color: #212229;
}

.chatListView .scroll-bar .track{
    -fx-background-color: #212229;
}

.chatListView .scroll-bar .thumb {
    -fx-background-color: #2F303B;
}

.chatListView .scroll-bar .corner {
    -fx-background-color: #212229 ;
}

.chatListView .scroll-bar .increment-button, .chatListView .scroll-bar .decrement-button{
    -fx-background-color: #212229;
    -fx-border-color: #212229;
    -fx-text-fill: #212229;
    -fx-background-insets: 0 0 0 0;
}

.chatListView .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.chatListView .list-cell {
    -fx-background-color: #212229;
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0;
}

.chatListView .list-cell:hover {
    -fx-background-color: #3E46FF;
}

.chatListView .list-cell:focused {
    -fx-background-color: #3E46FF;
}

.chatListView .list-cell:empty {
    -fx-background-color: #212229;
    -fx-padding: 0;
}

.photoPane {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 14px;
}

.countUnreadMessages {
    display: inline-block;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
    -fx-background: #3E46FF;
    -fx-background-color: -fx-background ;
    -fx-background-radius: 30px;
}