@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

.switch-pane {
    -fx-background-color: #FFFFFF;
}

.search {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
    -fx-text-fill: #212229;
    -fx-background-radius: 10px;
    -fx-background-color: #CBDAFF;
}

.cellFactoryListView .list-view {
    -fx-padding: 0;
}

.cellFactoryListView .scroll-bar {
    -fx-background-color: #FFFFFF;
}

.cellFactoryListView .scroll-bar .track{
    -fx-background-color: #FFFFFF;
}

.cellFactoryListView .scroll-bar .thumb {
    -fx-background-color: #3E46FF;
}

.cellFactoryListView .scroll-bar .corner {
    -fx-background-color: #FFFFFF ;
}

.cellFactoryListView .scroll-bar .increment-button, .cellFactoryListView .scroll-bar .decrement-button{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0 0 0 0;
}

.cellFactoryListView .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.cellFactoryListView .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 14;
    -fx-text-fill: #212229;
    -fx-padding: 0;
}

.cellFactoryListView .list-cell .chatNameLabel {
    -fx-text-fill: #212229;
}

.cellFactoryListView .list-cell .lastMessageDateLabel {
    -fx-text-fill: #212229;
}

.cellFactoryListView .list-cell .lastMsgLabel {
    -fx-text-fill: #A4A4A4;
}

.cellFactoryListView .list-cell .realNameLabel {
    -fx-text-fill: #212229;
}

.cellFactoryListView .list-cell .userNameLabel {
    -fx-text-fill: #A4A4A4;
}

.cellFactoryListView .list-cell:hover {
    -fx-background-color: #CBDAFF;
}

.cellFactoryListView .list-cell:hover .chatNameLabel {
    -fx-text-fill: #212229;
}

.cellFactoryListView .list-cell:hover .lastMessageDateLabel {
    -fx-text-fill: #212229;
}

.cellFactoryListView .list-cell:hover .lastMsgLabel {
    -fx-text-fill: #A4A4A4;
}

.cellFactoryListView .list-cell:hover .realNameLabel {
    -fx-text-fill: #212229;
}

.cellFactoryListView .list-cell:hover .userNameLabel {
    -fx-text-fill: #A4A4A4;
}

.cellFactoryListView .list-cell:focused {
    -fx-background-color: #3E46FF;
}

.cellFactoryListView .list-cell:focused .chatNameLabel {
    -fx-text-fill: #FFFFFF;
}

.cellFactoryListView .list-cell:focused .lastMessageDateLabel {
    -fx-text-fill: #FFFFFF;
}

.cellFactoryListView .list-cell:focused .lastMsgLabel {
    -fx-text-fill: #FFFFFF;
}

.cellFactoryListView .list-cell:focused .realNameLabel {
    -fx-text-fill: #FFFFFF;
}

.cellFactoryListView .list-cell:focused .userNameLabel {
    -fx-text-fill: #FFFFFF;
}

.cellFactoryListView .list-cell:empty {
    -fx-background-color: #FFFFFF;
    -fx-padding: 0;
}

.cellFactoryListView .list-cell:selected {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3E46FF;
}

.photoPane {
    -fx-text-fill: #212229;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 14px;
}

.countUnreadMessages {
    display: inline-block;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 12px;
    -fx-text-fill: #FFFFFF;
    -fx-background: #3E46FF;
    -fx-background-color: -fx-background ;
    -fx-background-radius: 30px;
}

.groupName {
    -fx-font-family: "Montserrat Bold";
    -fx-text-fill: #212229;
    -fx-font-size: 14;
}

.countMembers {
    -fx-font-family: "Montserrat Regular";
    -fx-text-fill: #A4A4A4;
    -fx-font-size: 14;
}

.simpleButton {
    -fx-background-color: #3E46FF;
    -fx-background-radius: 5px;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
}

.simpleButton:hover {
    -fx-background-color: #777CFF;
}

.simpleButton:focused {
    -fx-background-color: #777CFF;
}

.systemMessage {
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: #3E46FF;
    -fx-font-size: 14;
}

.rectangle {
    -fx-fill: #CBDAFF;
}

.deleteUserBtn {
    -fx-background-image: url("../img/delete_user_btn.png");
    -fx-background-color: transparent;
}

.deleteUserBtn:hover {
    -fx-background-image: url("../img/delete_user_btn_focused.png");
    -fx-background-color: transparent;
}

.deleteUserBtn:focused {
    -fx-background-image: url("../img/delete_user_btn_focused.png");
    -fx-background-color: transparent;
}