@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

.background-chat-page {
    -fx-background-color: #2F303B;
}

.switch-pane {
    -fx-background-color: #212229;
}

.buttons-pane {
    -fx-background-color: #212229;
}

.showChatsBtn {
    -fx-background-color: #2F303B;
    -fx-background-image: url("../img/chat_btn.png");

    -fx-background-radius: 40px;
}

.showChatsBtn:hover {
    -fx-background-color: #3E46FF;
}

.showChatsBtn:focused {
    -fx-background-color: #777CFF;
}

.showUsersBtn {
    -fx-background-color: #2F303B;
    -fx-background-image: url("../img/users_btn.png");

    -fx-background-radius: 40px;
}

.showUsersBtn:hover {
    -fx-background-color: #3E46FF;
}

.showUsersBtn:focused {
    -fx-background-color: #777CFF;
}

.showUserProfileBtn {
    -fx-background-color: #2F303B;
    -fx-background-image: url("../img/user_profile_btn.png");

    -fx-background-radius: 40px;
}

.showUserProfileBtn:hover {
    -fx-background-color: #3E46FF;
}

.showUserProfileBtn:focused {
    -fx-background-color: #777CFF;
}

.createGroupBtn {
    -fx-background-color: #2F303B;
    -fx-background-image: url("../img/create_group_btn.png");

    -fx-background-radius: 40px;
}

.createGroupBtn:hover {
    -fx-background-color: #3E46FF;
}

.createGroupBtn:focused {
    -fx-background-color: #777CFF;
}

.header {
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
}

.grayText {
    -fx-text-fill: lightgray;
    -fx-font-size: 14;
    -fx-font-family: "Montserrat Regular";
}

.chatInfoBtn {
    -fx-background-color: #212229;
    -fx-background-image: url("../img/info_button.png");

    -fx-background-radius: 40px;
}

.chatInfoBtn:hover {
    -fx-background-color: #3E46FF;
}

.chatInfoBtn:focused {
    -fx-background-color: #777CFF;
}

.photoPane {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 14px;
}

.messageInput {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-background-color: #212229;
}

.sendMessageBtn {
    -fx-background-image: url("../img/send_mes_btn.png");
    -fx-background-color: transparent;
}

.sendMessageBtn:hover {
    -fx-background-image: url("../img/send_mes_btn_hover.png");
    -fx-background-color: transparent;
}

.sendMessageBtn:focused {
    -fx-background-image: url("../img/send_mes_btn_hover.png");
    -fx-background-color: transparent;
}

.messageListView {
    -fx-background-color: #2F303B;
}

.messageListView .list-cell .messageText {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
    -fx-text-fill: #FFFFFF;
}

.messageListView .list-cell .dataText {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
}

.messageListView .list-cell{
    -fx-background-color: #2F303B;
}

.messageListView .scroll-bar .track{
    -fx-background-color: #2F303B;
}

.messageListView .scroll-bar .thumb {
    -fx-background-color: #212229;
}

.messageListView .scroll-bar .corner {
    -fx-background-color: #2F303B ;
}

.messageListView .scroll-bar .increment-button, .messageListView .scroll-bar .decrement-button{
    -fx-background-color: #2F303B;
    -fx-border-color: #2F303B;
    -fx-text-fill: #2F303B;
    -fx-background-insets: 0 0 0 0;
}

.messageListView .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.messageListView .list-cell:empty .label {
    -fx-background-color: #2F303B;
}

.messagePane {
    -fx-background-radius: 10px;
}

.messageListView .list-cell .messageLayout {
    -fx-background-color: #2F303B;
}

.simpleButton {
    -fx-background-color: #2F303B;
    -fx-background-radius: 5px;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
    -fx-text-fill: #A4A4A4;
}

.simpleButton:hover {
    -fx-background-color: #3E46FF;
}

.simpleButton:focused {
    -fx-background-color: #777CFF;
}

.systemMessage {
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12;
}

.fullName {
    -fx-font-family: "Montserrat Bold";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
}

.loginText {
    -fx-font-family: "Montserrat Regular";
    -fx-text-fill: #A4A4A4;
    -fx-font-size: 14;
}

.onlineStatus {
    -fx-font-family: "Montserrat Regular";
    -fx-text-fill: #3E46FF;
    -fx-font-size: 14;
}

.text {
    -fx-font-family: "Montserrat Regular";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
}

.initials {
    -fx-font-family: "Montserrat Bold";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
}

.infoArea {
    -fx-background-color: #212229;
    -fx-background-radius: 10;
}