@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

.header {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 30;
    -fx-text-fill: #FFFFFF;
}

.text-input {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #1D1E20;
    -fx-background-radius: 15px;
    -fx-background-color: #F2F2F2;
}

.buttonSend {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes.png");
}

.buttonSend:hover {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes_hover.png");
}

.buttonSend:focused {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes_focused.png");
}

.messageInput {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-background-radius: 50px;
    -fx-background-color: #1A1A22;
}

.leftPane {
    -fx-background-color: #14141A;
}

.showChatsBtn {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/chat_btn.png");
}

.showChatsBtn:hover {
    -fx-opacity: 50%;
}

.showChatsBtn:focused {
    -fx-opacity: 30%;
}

.ShowUsersBtn {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/all_users_btn.png");
}

.ShowUsersBtn:hover {
    -fx-opacity: 50%;
}

.ShowUsersBtn:focused {
    -fx-opacity: 30%;
}

.messageListView .list-cell{
    -fx-background-color: transparent;
}

.messageListView .list-cell .label{
    display: inline-block;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 15;
    -fx-text-fill: #FFFFFF;
    -fx-background: #1A1A22;
    -fx-background-color: -fx-background ;
    -fx-background-radius: 30px;
    -fx-padding: 12px ;
}

.messageListView .list-cell:empty .label {
    -fx-background-color: transparent;
}

.chatListView .list-cell {
    -fx-background-color: #272833;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 100px;
}

.chatListView .list-cell:hover {
    -fx-background-color: #14141A;
}

.chatListView .list-cell:focused {
    -fx-background-color: #14141A;
}

.chatListView .list-cell:empty {
    -fx-background-color: #272833;
}

.chatsPane {
    -fx-background-color: #272833;
}

.mainPane {
    -fx-background-color: #3A3C4D;
}