@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

.header {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 30;
    -fx-text-fill: #FFFFFF;
}

.header2 {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
}

.header3 {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
}

.text-input {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #1D1E20;
    -fx-background-radius: 15px;
    -fx-background-color: #F2F2F2;
}

.createButton {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 50px;
    -fx-background-color: #1A1A22;
}

.buttonSend {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes.png");
}

.buttonSend:hover {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes_hover.png");
}

.buttonSend:focused {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes_focused.png");
}

.messageInput {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;
    -fx-background-radius: 50px;
    -fx-background-color: #1A1A22;
}

.leftPane {
    -fx-background-color: #14141A;
}

.showChatsBtn {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/chat_btn.png");
}

.showChatsBtn:hover {
    -fx-opacity: 50%;
}

.showChatsBtn:focused {
    -fx-opacity: 30%;
}

.ShowUsersBtn {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/all_users_btn.png");
}

.ShowUsersBtn:hover {
    -fx-opacity: 50%;
}

.ShowUsersBtn:focused {
    -fx-opacity: 30%;
}

.messageListView .list-cell .messageLayout {
    display: inline-block;
    -fx-background-color: #1A1A22;
    -fx-background-radius: 30px;
    -fx-padding: 12px ;
}

.messageListView .list-cell .messageText {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 15;
    -fx-text-fill: #FFFFFF;
}

.messageListView .list-cell .dataText {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 12;
    -fx-text-fill: #3A3C4D;
}

.messageListView .list-cell{
    -fx-background-color: transparent;
}

.messageListView .scroll-bar .track, .selectedListView .scroll-bar .track{
    -fx-background-color: #3A3C4D;
}

.messageListView .scroll-bar .thumb, .selectedListView .scroll-bar .thumb {
    -fx-background-color: #4F5168;
}

.messageListView .scroll-bar .increment-button, .messageListView .scroll-bar .decrement-button{
    -fx-background-color: #3A3C4D;
    -fx-border-color: #3A3C4D;
    -fx-text-fill: #3A3C4D;
    -fx-background-insets: 0 0 0 0;
}

.selectedListView .scroll-bar .increment-button, .selectedListView .scroll-bar .decrement-button{
    -fx-background-color: #3A3C4D;
    -fx-border-color: #3A3C4D;
    -fx-text-fill: #3A3C4D;
    -fx-background-insets: 0 0 0 0;
}

.chatListView .scroll-bar .track{
    -fx-background-color: #272833;
}

.chatListView .scroll-bar .thumb {
    -fx-background-color: #4F5168;
}

.chatListView .scroll-bar .increment-button, .chatListView .scroll-bar .decrement-button{
    -fx-background-color: #272833;
    -fx-border-color: #272833;
    -fx-text-fill: #272833;
    -fx-background-insets: 0 0 0 0;
}

.userListView .scroll-bar .track{
    -fx-background-color: #272833;
    -fx-border-color: #272833;
    -fx-background-insets: 0 0 0 0;
}

.userListView .scroll-bar .thumb {
    -fx-background-color: #4F5168;
}

.userListView .scroll-bar .increment-button, .userListView .scroll-bar .decrement-button{
    -fx-background-color: #272833;
    -fx-border-color: #272833;
    -fx-text-fill: #272833;
    -fx-background-insets: 0 0 0 0;
}


/*.messageListView .list-cell .label{*/
/*    display: inline-block;*/
/*    -fx-font-family: "Poppins Medium";*/
/*    -fx-font-size: 15;*/
/*    -fx-text-fill: #FFFFFF;*/
/*    -fx-background: #1A1A22;*/
/*    -fx-background-color: -fx-background ;*/
/*    -fx-background-radius: 30px;*/
/*    -fx-padding: 12px ;*/
/*}*/

.messageListView .list-cell:empty .label {
    -fx-background-color: transparent;
}

.chatListView .list-cell {
    -fx-background-color: #272833;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 100px;
}

.chatListView .list-cell:hover {
    -fx-background-color: #14141A;
}

.chatListView .list-cell:focused {
    -fx-background-color: #14141A;
}

.chatListView .list-cell:empty {
    -fx-background-color: #272833;
}

.userListView .list-cell {
    -fx-background-color: #272833;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 17;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 60px;
}

.userListView .list-cell:hover {
    -fx-background-color: #14141A;
}

.userListView .list-cell:focused {
    -fx-background-color: #14141A;
}

.userListView .list-cell:empty {
    -fx-background-color: #3A3C4D;
}

.selectedListView .list-cell{
    -fx-background-color: transparent;
}

.selectedListView .list-cell .label{
    display: inline-block;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 13;
    -fx-text-fill: #FFFFFF;
    -fx-background: #1A1A22;
    -fx-background-color: -fx-background ;
    -fx-background-radius: 25px;
    -fx-padding: 5px;
}

.selectedListView .list-cell:empty .label {
    -fx-background-color: transparent;
}

.chatsPane {
    -fx-background-color: #272833;
}

.mainPane {
    -fx-background-color: #3A3C4D;
}

.createGroupButton {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 13;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #3A3C4D;
}

.createGroupButton:hover {
    -fx-background-color: #14141A;
}

.createGroupButton:focused {
    -fx-background-color: #272833;
}

.countUnreadMessages {
    display: inline-block;
        -fx-font-family: "Poppins Medium";
        -fx-font-size: 12;
        -fx-text-fill: #FFFFFF;
        -fx-background: #3D77A3;
        -fx-background-color: -fx-background ;
        -fx-background-radius: 30px;
        -fx-padding: 6px ;
}