@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

.header {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 30;
}

.text-input {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #1D1E20;
    -fx-background-radius: 15px;
    -fx-background-color: #F2F2F2;
}

.mainPane {
    -fx-background-color: #CCC1BE;
}

.buttonSend {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes.png");
}

.buttonSend:hover {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes_hover.png");
}

.buttonSend:focused {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/send_mes_focused.png");
}

.buttonCreateNewChat {
    -fx-background-radius: 15px;
    -fx-background-color: #F2F2F2;
    -fx-opacity: 20%;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 24;
}

.buttonCreateNewChat:hover {
    /*-fx-background-color: #F2F2F2;*/
    -fx-opacity: 50%;
}

.buttonCreateNewChat:focused {
    /*-fx-background-color: #F2F2F2;*/
    -fx-opacity: 100%;
}

.messageInput {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #1D1E20;
    -fx-prompt-text-fill: #303134;
    -fx-background-radius: 50px;
    -fx-background-color: #CCC1BE;
}

.listChats {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
    -fx-padding: 25px;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 20;
    -fx-text-fill: #1D1E20;
    -fx-background-insets: 10;
}

#chatListView .list-cell:hover{
    -fx-background-color: #F2F2F2;
    -fx-opacity: 50%;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 20;
    -fx-text-fill: #1D1E20;
}

#chatListView .list-cell:focused {
    -fx-background-color: #F2F2F2;
    -fx-opacity: 100%;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 20;
    -fx-text-fill: #1D1E20;
}

#chatListView .list-cell:empty {
    -fx-background-color: transparent;
}

.leftPane {
    -fx-background-color: #1D1E20;
}

.showChatsBtn {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/chat_btn.png");
}

.showChatsBtn:hover {
    -fx-opacity: 50%;
}

.showChatsBtn:focused {
    -fx-opacity: 30%;
}

.ShowUsersBtn {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/all_users_btn.png");
}

.ShowUsersBtn:hover {
    -fx-opacity: 50%;
}

.ShowUsersBtn:focused {
    -fx-opacity: 30%;
}