@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

.header {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 50;
    -fx-text-fill: #F2F2F2;
}

.subtitle {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 24;
    -fx-text-fill: #F2F2F2;
}

.button {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 17;
    -fx-text-fill: #F2F2F2;
    -fx-background-color: #3A3C4D;
    -fx-background-radius: 12px;
}

.button:hover {
    -fx-background-color: #14141A;
}

.button:focused {
    -fx-background-color: #272833;
}

.text-input {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: #1D1E20;
    -fx-background-radius: 12px;
    -fx-background-color: #F2F2F2;
}

.background-login {
    -fx-background-color:  linear-gradient(to left, #3A3C4D, #272833);
}