@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

.header {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 50;
}

.subtitle {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 24;
}

.button {
    -fx-background-color: #1D1E20;
    -fx-font-size: 17;
    -fx-text-fill: white;
    -fx-font-family: "Poppins Regular";
    -fx-background-radius: 15px;
}

.button:hover {
    -fx-background-color: #383A3E;
}

.button:focused {
    -fx-background-color: #585B62;
}

.text-input {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 17;
    -fx-text-fill: black;
    -fx-background-radius: 15px;
}

.background-login {
    -fx-background-color: linear-gradient(to left, #CCC1BE, #FFF1DC);
}